@model Cambealo.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Bienvenido</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.ActionLink("Ver transacciones de entrada!", "/Productos/Create/")        
        </dd>

        <dd>
            @Html.ActionLink("Ver transacciones de Salida!", "/Productos/Create/")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Agregar un Nuevo producto!", "Productos/Index/")
</p>

<p> 
    @Html.ActionLink("Ofrecer un producto para intercambiarlo!", "Productos/Index/")
</p>
