@model Cambealo.Models.Usuario

@{
    var usuario = System.Web.HttpContext.Current.Session["usuarioActual"] as Dictionary<string, string>;
}

@if (usuario != null)
{
    var nombreCompleto = usuario["nombre"] + usuario["apellidos"];
    <h2>Bienvenido</h2>

    <div>
        <h4>Usuario</h4>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                @Html.ActionLink("Ver transacciones de entrada!", "")
            </dd>

            <dd>
                @Html.ActionLink("Ver transacciones de Salida!", "")
            </dd>

            <dd>
                @Html.ActionLink("Crear un producto para intercambiarlo!", "crear", "usuario/"+nombreCompleto+"/productos", routeValues: null, htmlAttributes: new { id = "productoCrear" })
            </dd>

            <dd>
                @Html.ActionLink("Ver mi lista de productos!", "productos", "usuario/" + nombreCompleto, routeValues: null, htmlAttributes: new { id = "index" })
            </dd>

        </dl>
    </div>
}

