@model Cambealo.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Bienvenido</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.ActionLink("Ver transacciones de entrada!", "/Productos/")        
        </dd>

        <dd>
            @Html.ActionLink("Ver transacciones de Salida!", "/Productos/")
        </dd>

        <dd>
            @Html.ActionLink("Crear un producto para intercambiarlo!", "create", "producto", routeValues: null, htmlAttributes: new { id = "productoCrear" })
        </dd>

        <dd>
            @Html.ActionLink("Ver mi lista de productos!", "", "productos", routeValues: null, htmlAttributes: new { id = "index" })
        </dd>

</dl>
</div>
