@model Cambealo.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Bienvenido</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.ActionLink("Ver transacciones de entrada!", "/Productos/")        
        </dd>

        <dd>
            @Html.ActionLink("Ver transacciones de Salida!", "/Productos/")
        </dd>

        <dd>
            @Html.ActionLink("Ofrecer un producto para intercambiarlo!", "/Productos/")
        </dd>

</dl>
</div>
