@using Microsoft.AspNet.Identity
@model Cambealo.Models.Usuario

@{
    ViewBag.loggedIn = TempData["loggedIn"];
}

@if (ViewBag.loggedIn == true)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + Model.Correo + "!","Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" >Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrar", "Create", "Usuarios", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log In", "Create", "Session", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
