@{
    var productos = ViewBag.productos;
}

<div class="jumbotron">
    <h1>Bienvenido a Cambealo</h1>
</div>

<div class="row">
    @{foreach (var p in productos)
    {
        <div>
            <ul>
                <li>@p</li>
            </ul>
        </div>
    }
    }
</div>