@{
    var productos = ViewBag.productos;
}

<div class="jumbotron">
    <h1>Bienvenido a Cambealo</h1>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $(function () {
        $('#click').click(function (e) {

            var name = $("#search").val();
            var url = '@Url.Action("Search", "Productos")' + '/' + name;
            window.location.href = url;

        });
    });

</script>

<input type="text" name="searchText" id="search" />
<input type="button" value="Buscar Producto" id="click" />


